* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    /*width: 100vh;*/
    height: 100vh;

}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed black;

}

.circle-show {
    animation: show-loader 0.5s forwards;
}

.circle-rotate {
    animation: rotate-loader 0.5s infinite;
}

.circle-hide {
    animation: show-loader 0.5s reverse;
}

.circle-exit-done {

}

@keyframes show-loader {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes rotate-loader {
    0% {

        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input {
    margin: 20px;
}

.fade-enter-active {
    animation: fade-in 500ms forwards;
}

.fade-exit-active {
    animation: fade-out 500ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-150px);
    }
}

.todo{
    border: 1px solid black;
    padding: 5px 10px;
    margin: 15px;
}

.todo-enter-active{
    animation: fade-in 500ms forwards;
}
.todo-exit-active{
    animation: fade-out 500ms forwards;
}

.page{
    position: absolute;
}
a{
    margin-right: 30px;
}
@keyframes fad-in {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fad-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
.page-enter-active{
    animation: fad-in 1s forwards;
}
.page-exit-active{
    animation: fad-out 1s forwards;
}